<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <%- include ("../partials/header.ejs") %>
    <link rel="stylesheet" type="text/css" href="CSS/signin.css">
    <title>FYREP - Login</title>
  </head>

<body>
  <!-- Inicio do Cabecalho-->
  <header>
    <%- include ("../partials/nav.ejs") %>
  </header>
  <div class="container ">
<form method="POST" action="/adm">
  <!-- Fim do Cabecalho-->
<table class="table table-bordered"style="color:white;" name="republicas">
  <thead>
  <tr class="d-flex">
    <th class="col-4" scope="col">Nome</th>
    <th class="col-4" scope="col">Status</th>
    <th class="col-4" scope="col">ID</th>
  </tr>
</thead>
<tbody>
    <% republicas.forEach(function(r) {  %>
    <tr  class="d-flex"> 
      <td class="col-4"><%= r.nome_republica %></td> 
      <td class="col-4"> <select name="status" ><% if(r.status==true) { %> 
        <option value="true" selected>true</option>
        <option value="false">false</option>
        <% }else { %>
        <option value="true" >true</option>
        <option value="false" selected>false</option>
        <% } %>
        </select></td>
        <td class="col-4"><input name="id_rep"  value="<%= r.id_rep %>" readonly></input></td>
       </tr>
    <% }); %>
  </tbody>

  </table>
  <div class="text-center">
<button class="btn btn-primary" type="submit">Salvar</button>
</div>
</form>
</div>
  <%- include ("../partials/footer.ejs") %>
</body>

</html>