<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <%- include ("../partials/header.ejs") %>
    <link rel="stylesheet" type="text/css" href="CSS/signin.css">
    <title>FYREP - Login</title>
  </head>

<body>
  <!-- Inicio do Cabecalho-->
  <header>
    <%- include ("../partials/nav.ejs") %>
  </header>
  <!-- Fim do Cabecalho-->
  <!-- Inicio da seção Login-->
  <section id="login" class="d-flex">
    <div class="container align-self-center">
      <div class="row d-flex justify-content-center">
        <form class="form-signin text-center rounded shadow" action="/login"  method="POST">

          <img class="mb-4" src="Imagens/SVG LOGO.svg" alt="" width="30%">
          <h3 class="h3 mb-3 font-weight-normal" style="color: #FF9E00">
            Fazer login
          </h3>
          <ul><!--MENSAGENS DE SUCESSO NO LOGIN-->
            <% if(messages.success_msg){ %>
                <li><%= messages.success_msg %></li>
            <% } %>
          </ul>
          <ul><!--MENSAGENS DE ERRO NO LOGIN-->
            <% if(messages.error){ %>
                <li><%= messages.error %></li>
            <% } %>
            
          </ul>
          <label for="inputEmail" class="sr-only">
            E-mail
          </label>
          <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required autofocus>
          <label for="inputPassword" class="sr-only">
            Senha
          </label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Senha" required>


          <!-- <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> 
                        Lembrar-me
                    </label>
                </div> -->
          <button class="btn btn-lg btn-block botao" style="border: none;" type="submit">
            Continuar
          </button>
        <a href="/inscreva-se">Cadastrar</a>
          <p class="mt-5 mb-3 text-muted">
            &copy; Fy Rep 2021
          </p>

        </form>
      </div>
    </div>

  </section>
  <!-- Fim da seção Republica -->

  <%- include ("../partials/footer.ejs") %>
</body>

</html>