<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include ("../partials/header.ejs") %>
  <title> FYREP - Republicas </title>
  <link rel="stylesheet" type="text/css" href="CSS/republicas.css">

</head>

<body>

  <!-- Inicio do Cabeçalho-->
  <header>
    <%- include ("../partials/nav.ejs") %>
  </header>
  <!-- Fim do Cabeçalho-->

  <!-- Inicio da seção Home -->
  <section id="republicas" class="d-flex">
    <!--Inicio do Home-->
    <div class="container align-self-center">
      <div class="row capa ">
        <!--Logo e slogan -->
        <div class="col-md-12 ">

          <br>
          <h5 class="titulo" style="color: #FF8500; font-size: 30px;"> FIND YOUR REP <i class="fas fa-search"></i>
          </h5>
          <br>

          <div class="peruano">
            <div class="card-columns">

              <% republicas.forEach(function(r) { if( r.status === false) return; %>
                <div class="card">
                  <img class="card-img-top" src="https://drive.google.com/uc?id=<%= r.img %>" style="width:100%;height:300px;">
                  <div class="card-body">
                    <h4 class="card-title">
                      <%= r.nome_republica %>
                    </h4>
                    <h6 class="card-subtitle">
                      <%= r.rua %> <br>
                      <%=  r.numero %> <%= r.bairro %><br>
                      <%= r.cidade %> <br>
                      <%= r.sexo %>
                    </h6>

                    <p>
                   
                      <b> <%=r.n_suites%>  <% if (r.n_suites ==1)  {%> Vaga <% }else {%> Vagas<% } %> | <%=r.n_banheiros %>  <% if (r.n_banheiros ==1)  {%> Banheiro <% }else {%> Banheiros<% } %>   |  <%=r.n_quartos%>  <% if (r.n_quartos==1)  {%> Quarto<% }else {%> Quartos<% } %> <br>
                        <b><%= r.wifi  %> mbps </b> 
                     </p>

                    <p class="card-text">
                      Area de Estudos <% if(r.area_estudos) { %> ✔ <% }else {%> ✘ <% } %>
                      Tv a Cabo <% if(r.tv_a_cabo) { %> ✔ <% }else {%> ✘ <% } %><br>
                      Area Externa <% if(r.area_externa) { %> ✔ <% }else {%> ✘ <% } %>
                      Piscina <% if(r.piscina) { %> ✔ <% }else {%> ✘ <% } %><br>
                      Faxineira <% if(r.faxineira) { %> ✔ <% }else {%> ✘ <% } %>
                      Almoço Diario <% if(r.almoco_diario) { %> ✔ <% }else {%> ✘ <% } %><br>
                      Garagem <% if(r.garagem) { %> ✔ <% }else {%> ✘ <% } %>
                      Animais <% if(r.animais) { %> ✔ <% }else {%> ✘ <% } %>
                      Trote <% if(r.trote) { %> ✔ <% }else {%> ✘ <% } %>
                    </p>
                    <a class="btn btn-outline-info" href="https://api.whatsapp.com/send?phone=<%= r.whatsapp %>">Whatsapp</a>
                  </div>
                </div>


                <% }); %>
            </div>
          </div>

  </section>
  <!-- Fim da seção Home-->

  <%- include ("../partials/footer.ejs") %>
</body>

</html>
